.headers {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
  & .logo {
    color: var(--main-color);
  }
  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;

    @media screen and (min-width: 1200px) {
      padding-top: 24px;
      padding-bottom: 25px;
    }
    & .logo {
      margin-right: 93px;
    }
  }
}
.burger-icon {
  width: 40px;
  height: 40px;
}
.navs-list {
  display: none;
}
.headers__info-link {
  display: none;
}
.headers__tel-link {
  display: none;
}
.mobile-menu .headers__tel-link,
.mobile-menu .headers__info-link {
  display: block;
}
.headers__contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    // padding-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
  }
}
.burger-btn,
.close-burger-btn {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.close-burger-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.headers__tel-link {
  margin-top: 270px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  transition: color 250ms var(--time-function);
  @media screen and (min-width: 768px) {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    color: var(--text-color);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    font-size: 14px;
    line-height: 1.14;
  }
}
.headers__info-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms var(--time-function);
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.16;
    color: var(--text-color);
    margin-left: auto;
    // margin-right: 50px;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .navs-list {
    display: block;
  }
  .headers__navs {
    display: flex;
    align-items: center;
  }
  .navs-list {
    display: flex;
    align-items: center;
  }
  .navs-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .navs-link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms var(--time-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &.current::after {
      position: absolute;
      left: 0;
      top: 45px;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
  .contact-icon {
    margin-right: 10px;
    fill: currentColor;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
