:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196f3;
    --main-color: #212121;
    --text-color: #757575;
    --footers-info-color: rgba(255, 255, 255, 0.6);
    --hero-title-color: #ffffff;
    --hero-background-color: #2f303a;
    --modal-btn-background-color: #2196f3;
    --modal-btn-color: #ffffff;
    --footer-background-color: #2f303a;
    --footer-adress-color: #ffffff;
    --footer-logo-color: #ffffff;
    --team-background-color: #f5f4fa;
    --features-ser-background-color: #e5e5e5;
    --port-btn-background-color: #f5f4fa;
    --port-btn-focus: #2196f3;
    --port-card-description-color: #757575;
    --section-pt: 94px;
    --section-pb: 94px;
    --background-port-card-over: rgba(33, 150, 243, 0.9);
    --colortext-port-card-over: #ffffff;
    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  }